<!-- <div class="msg">
  <ul>
    <li><a href="javascript:;">一起相約去LEVI'S®，買501系列送限量品牌毛毯</a></li>
    <li><a href="javascript:;">一起相約去LEVI'S®，買501系列送限量品牌毛毯</a></li>
    <li><a href="javascript:;">一起相約去LEVI'S®，買501系列送限量品牌毛毯</a></li>
  </ul>
</div> -->
<ul class="footer-nav-cont">
  <li megais_ga="nav_sale" class="sale">
    <a target="_blank" href="http://www.levis.com.tw/v2/official">
      <span>熱銷</span>
    </a>
  </li>
  <li megais_ga="nav_storeonline" class="ec">
    <a href="https://www.levi.com.tw/m/storeonline.html">
      <span>找網路門市</span>
    </a>
  </li>
  <li megais_ga="nav_storelocator" class="store">
    <a href="https://www.levi.com.tw/m/storelocator.html">
      <span>找門市</span>
    </a>
  </li>
</ul>
