<div class="cont">
  <ul class="accordion-list">
    <li>
      <a class="list-title" href="javascript:;">
        <div class="list-title-text">
          關於LEVI'S®
          <div class="switch-icon"></div>
        </div>
      </a>
      <ul class="list-sub">
        <li megais_ga="footer_ourstory"><a href="https://www.levi.com.tw/m/ourstory.html">LEVI'S® 歷史</a></li>
        <li megais_ga="footer_stories"><a href="https://www.levi.com.tw/m/stories.html">最新消息</a></li>
        <li megais_ga="footer_104"><a target="_blank" href="http://bit.ly/2nDmXvQ">人才招募</a></li>
        <li megais_ga="footer_privacy"><a href="https://www.levi.com.tw/m/privacy.html">網站隱私權政策</a></li>
      </ul>
    </li>
    <li>
      <a class="list-title" href="javascript:;">
        <div class="list-title-text">
          協助
          <div class="switch-icon"></div>
        </div>
      </a>
      <ul class="list-sub">
        <li megais_ga="footer_ask"><a href="https://www.levi.com.tw/m/ask.html">常見問題</a></li>
        <li megais_ga="footer_storelocator"><a href="https://www.levi.com.tw/m/storelocator.html">全台門市列表</a></li>
        <li megais_ga="footer_contact"><a target="_blank" href="https://line.me/R/ti/p/%40gwc5083y">聯繫LEVI'S®</a></li>
      </ul>
    </li>
    <li>
      <a class="list-title" href="javascript:;">
        <div class="list-title-text">
          加入會員
          <div class="switch-icon"></div>
        </div>
      </a>
      <ul class="list-sub">
        <li megais_ga="footer_ask_loop"><a href="https://www.levi.com.tw/m/ask.html#loop">會員常見問題</a></li>
        <li megais_ga="footer_login"><a target="_blank" href="https://loop-crm.levi.com/taiwan/login.aspx">修改會員資料</a></li>
      </ul>
    </li>
    <li>
      <a class="list-title" href="javascript:;">
        <div class="list-title-text">
          網路購物
          <div class="switch-icon"></div>
        </div>
      </a>
      <ul class="list-sub">
        <li megais_ga="footer_storeonline"><a href="https://www.levi.com.tw/m/storeonline.html">找網路門市</a></li>
        <li megais_ga="footer_ask_onlineshop"><a href="https://www.levi.com.tw/m/ask.html#onlineshop">網路購物常見問答</a></li>
        <li megais_ga="footer_ask_size"><a href="https://www.levi.com.tw/m/ask.html#size">尺寸挑選</a></li>
      </ul>
    </li>
  </ul>
  <div class="related">
    <div class="related-title">關注LEVI'S®</div>
    <ul class="external-link">
      <li megais_ga="footer_fb">
        <a target="_blank" href="https://www.facebook.com/Levis.Taiwan/"><img src="https://www.levi.com.tw/m/images/common/btn_followUsFacebook.png" /></a>
      </li>
      <li megais_ga="footer_ig">
        <a target="_blank" href="https://www.instagram.com/levis_taiwan/"><img src="https://www.levi.com.tw/m/images/common/btn_followUsInstagram.png" /></a>
      </li>
      <li megais_ga="footer_line">
        <a target="_blank" href="https://line.me/R/ti/p/%40gwc5083y"><img src="https://www.levi.com.tw/m/images/common/btn_followUsLine.png" /></a>
      </li>
      <li megais_ga="footer_youtube">
        <a target="_blank" href="https://www.youtube.com/channel/UCrNg4VWqUx23FjHNnX-s3Yw"><img src="https://www.levi.com.tw/m/images/common/btn_followUsYoutube.png" /></a>
      </li>
    </ul>
  </div>
  <!-- <div class="copyright">© 2017 LEVI STRAUSS & CO.</div> -->
  <ul class="term">
    <!-- <li megais_ga="footer_global">
      <a target="_blank" href="http://global.levi.com/">全球LEVI'S®</a>
    </li> -->
    <li>© 2017 LEVI STRAUSS & CO.</li>
    <!-- <li megais_ga="footer_recruit">
      <a target="_blank" href="http://bit.ly/2nDmXvQ">成為LEVI'S®一份子</a>
    </li> -->
    <!-- <li megais_ga="footer_terms">
						<a href="javascript:;">條款與條件</a>
					</li> -->
    <!-- <li megais_ga="footer_privacy">
      <a href="privacy.html">隱私權政策</a>
    </li> -->
  </ul>
  <div megais_ga="footer_topBtn" class="top-btn">
    <a href="javascript:;"></a>
  </div>
</div>
