<div class="main">
	<div megais_ga="header_logo" class="logo">
		<a href="https://www.levi.com.tw/m/index.html">
			<img src="https://www.levi.com.tw/m/images/common/logo_levis.png" />
		</a>
	</div>
	<div class="search-icon">
		<a href="javascript:;"></a>
	</div>
	<div class="nav-btn">
		<div class="hamburger hamburger--elastic">
			<div class="hamburger-box">
				<div class="hamburger-inner"></div>
			</div>
		</div>
	</div>
</div>
<div class="search-box">
	<div class="search-input">
		<input type="text">
		<div megais_ga="header_search_btn" class="search-btn">
			<a href="javascript:;">搜尋</a>
		</div>
	</div>
</div>
