<div class="popup-mask"></div>
<div class="popup-box">
  <div class="popup-main">
    <div class="popup-content options">
      <div class="pop-close-btn">
        <a href="javascript:;"></a>
      </div>
      <ul class="menu-list">
        <!--<li megais_ga="popup_men" class="menu-men">
          <a target="_blank" href="javascript:;">
            <span></span>
          </a>
        </li>
        <li megais_ga="popup_women" class="menu-women">
          <a target="_blank" href="javascript:;">
            <span></span>
          </a>
        </li>-->
        <!--<li megais_ga="popup_accessory" class="menu-accessory">
          <a target="_blank" href="javascript:;">
            <span></span>
          </a>
        </li>-->
        <!--<li megais_ga="popup_lookbook" class="menu-lookbook">
          <a href="lookbook.html">
            <span></span>
          </a>
        </li>
        <li megais_ga="popup_loop" class="menu-loop">
          <a target="_blank" href="https://loop-crm.levi.com/taiwan/login.aspx">
            <span></span>
          </a>
        </li>-->
      </ul>
    </div>
    <!--<div class="popup-content men">
      <div class="popup-sub-title">
        男裝
        <a class="back-menu-btn" href="javascript:;"></a>
      </div>
      <ul class="accordion-list">
        <li>
          <a class="list-title" href="javascript:;">
            <div class="list-title-text">
              產品類別
              <div class="switch-icon"></div>
            </div>
          </a>
          <ul class="list-sub">
            <li><a href="javascript:;">牛仔褲<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">上衣<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">襯衫<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">POLO衫<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">外套<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">短褲<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">休閒褲<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">牛仔褲<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">上衣<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">襯衫<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">POLO衫<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">外套<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">短褲<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">休閒褲<span class="list-sub-arrow"></span></a></li>
          </ul>
        </li>
        <li>
          <a class="list-title" href="javascript:;">
            <div class="list-title-text">
              版型褲款
              <div class="switch-icon"></div>
            </div>
          </a>
          <ul class="list-sub">
            <li><a href="javascript:;">牛仔褲<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">上衣<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">襯衫<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">POLO衫<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">外套<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">短褲<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">休閒褲<span class="list-sub-arrow"></span></a></li>
          </ul>
        </li>
        <li>
          <a class="list-title" href="javascript:;">
            <div class="list-title-text">
              挑選系列
              <div class="switch-icon"></div>
            </div>
          </a>
          <ul class="list-sub">
            <li><a href="javascript:;">牛仔褲<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">上衣<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">襯衫<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">POLO衫<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">外套<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">短褲<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">休閒褲<span class="list-sub-arrow"></span></a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="popup-content women">
      <div class="popup-sub-title">
        女裝
        <a class="back-menu-btn" href="javascript:;"></a>
      </div>
      <ul class="accordion-list">
        <li>
          <a class="list-title" href="javascript:;">
            <div class="list-title-text">
              產品類別
              <div class="switch-icon"></div>
            </div>
          </a>
          <ul class="list-sub">
            <li><a href="javascript:;">牛仔褲<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">上衣<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">襯衫<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">POLO衫<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">外套<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">短褲<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">休閒褲<span class="list-sub-arrow"></span></a></li>
          </ul>
        </li>
        <li>
          <a class="list-title" href="javascript:;">
            <div class="list-title-text">
              版型褲款
              <div class="switch-icon"></div>
            </div>
          </a>
          <ul class="list-sub">
            <li><a href="javascript:;">牛仔褲<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">上衣<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">襯衫<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">POLO衫<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">外套<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">短褲<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">休閒褲<span class="list-sub-arrow"></span></a></li>
          </ul>
        </li>
        <li>
          <a class="list-title" href="javascript:;">
            <div class="list-title-text">
              挑選系列
              <div class="switch-icon"></div>
            </div>
          </a>
          <ul class="list-sub">
            <li><a href="javascript:;">牛仔褲<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">上衣<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">襯衫<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">POLO衫<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">外套<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">短褲<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">休閒褲<span class="list-sub-arrow"></span></a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="popup-content accessory">
      <div class="popup-sub-title">
        配件
        <a class="back-menu-btn" href="javascript:;"></a>
      </div>
      <ul class="accordion-list">
        <li>
          <a class="list-title" href="javascript:;">
            <div class="list-title-text">
              產品類別
              <div class="switch-icon"></div>
            </div>
          </a>
          <ul class="list-sub">
            <li><a href="javascript:;">牛仔褲<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">上衣<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">襯衫<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">POLO衫<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">外套<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">短褲<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">休閒褲<span class="list-sub-arrow"></span></a></li>
          </ul>
        </li>
        <li>
          <a class="list-title" href="javascript:;">
            <div class="list-title-text">
              版型褲款
              <div class="switch-icon"></div>
            </div>
          </a>
          <ul class="list-sub">
            <li><a href="javascript:;">牛仔褲<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">上衣<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">襯衫<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">POLO衫<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">外套<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">短褲<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">休閒褲<span class="list-sub-arrow"></span></a></li>
          </ul>
        </li>
        <li>
          <a class="list-title" href="javascript:;">
            <div class="list-title-text">
              挑選系列
              <div class="switch-icon"></div>
            </div>
          </a>
          <ul class="list-sub">
            <li><a href="javascript:;">牛仔褲<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">上衣<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">襯衫<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">POLO衫<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">外套<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">短褲<span class="list-sub-arrow"></span></a></li>
            <li><a href="javascript:;">休閒褲<span class="list-sub-arrow"></span></a></li>
          </ul>
        </li>
      </ul>
    </div>-->
  </div>
</div>
